# =========================
# Database
# =========================
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/CardDropper
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=changeme

# =========================
# Keycloak / OAuth2
# =========================
KEYCLOAK_ISSUER_URI=https://keycloak.andi27.synology.me/auth/realms/carddropperts

# =========================
# CORS (frontend URL)
# =========================
CORS_ALLOWED_ORIGINS=https://carddropper.ch

# =========================
# Logging
# =========================
LOG_LEVEL=INFO
